* {
  box-sizing: border-box;
}
html,
body,
#root {
  height: 100%;
  background-color: @body-background;
}
.text-right {
  text-align: right;
}
.w-100 {
  width: 100%;
}
.bg-white {
  background-color: @white-background;
}
