.global-layout {
  height: 100%;
  overflow: hidden;
  .container {
    overflow-y: auto;
    .ant-tabs {
      overflow: unset;
    }
  }
  .main {
    padding: 30px;
    .rwd (sm;{padding:10px});
  }
}
